body{
    background-color: gray;
}
.color-container > span{
    width: 30px;
    border: 5px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 20px;
}
main{
    margin-left: 250px;
    margin-top: 250px;
}

span#purple{
    background-color: purple;
}
span#green{
    background-color: green;
}
span#yellow{
    background-color: yellow;
}
span#pink{
    background-color: pink;    
}
.count-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
p{
    margin: 10px;
    font-size: 40px;
}
